<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="C:\USERS\ZAKARIA\DESKTOP\DEVELOPPEM-ENT\WEB COTE SRVEUR\SOLTP6\PRAPP\APP_DATA\DATATP6.MDFConnectionString"
            connectionString="Data Source=.;Initial Catalog=&quot;C:\USERS\ZAKARIA\DESKTOP\DEVELOPPEM-ENT\WEB COTE SRVEUR\SOLTP6\PRAPP\APP_DATA\DATATP6.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
